commonLabel: todo-api

namespace:
  name: dev

extraLabels:
  environment: dev
  team: backend

deployment:
  name: todo-api-deployment
  replicas: 2
  container:
    name: todo-spring-api
    port: 8080
    image: panchanandevops/todo-spring-api:v3.0.0
    resources:
      limits:
        memory: "512Mi"
        cpu: "500m"
      requests:
        memory: "256Mi"
        cpu: "250m"

apiService:
  name: todo-api-service
  type: ClusterIP
  port: 3000

ingress:
  enabled: true
  name: todo-api-ingress
  className: nginx
  host: panchanandevops.com

secret:
  name: mongo-secret
  stringData:
    mongo_root_username: root
    mongo_root_password: password
    host: mongo-0.mongo-headless.dev.svc.cluster.local:27017

statefulset:
  name: mongo
  applabel: mongo
  replicas: 1
  container:
    name: mongo
    port: 27017
    image: mongo:latest
  volumes:
    name: mongo-volume

dbService:
  name: mongo-headless
  port: 27017

pv:
  name: mongo-pv
  storage: 1Gi
  local:
    path: /storage/data/todo/

pvc:
  name: mongo-pvc
  storage: 1Gi
